---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Eduardo Dimas"
  description="About Eduardo Dimas Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.webp"
          alt="Eduardo Dimas at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            A dynamic professional driven by a strong curiosity to master the
            technologies defining the modern era, including Cloud, AI, and Data.
            <br />My passion lies in architecting data-driven applications,
            adhering to the highest industry standards. Across my IT journey,
            I've traversed the realms of design, development, and maintenance
            phases of various IT systems, complemented by valuable contributions
            to mission-critical IT operations.
          </p><br />
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Bachelors in Computer Engineering. ESIME IPN: Mexico City, México
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            <li>
              Demonstrates high proficiency in application development using
              Java, SQL, and NoSQL databases.
            </li>
            <li>
              Possesses knowledge in front-end frameworks such as Angular,
              ReactJS, and proficiency in languages like Typescript and
              JavaScript.
            </li>
            <li>
              Excels in designing solutions using diverse AWS services,
              deploying them efficiently through the utilization of DevOps tools
              and Agile methodologies.
            </li>
            <li>
              Proficient in working with containers, Docker, and Kubernetes.
              Exhibits proficiency in ARM templates, Terraform, Python, and
              related technologies.
            </li>
            <li>
              Skilled in the design and development of end-to-end data
              pipelines, leveraging Hadoop/AWS big data services. Highly
              proficient in ETL development with tools like SSIS, Azure Data
              Factory, and more.
            </li>
            <li>
              Brings experience in utilizing data visualization tools such as
              Power BI, Tableau, Grafana, and others.
            </li>
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
