---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

// Fetch and sort blog posts by publish date
const projects = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="My Blog | Eduardo Dimas"
  description="Explore my recent blog entries, covering DevOps, SRE, and more!"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <!-- Hero Section -->
      <Hero
        title="My Blog"
        tagline="Discover insights, tips, and stories from my journey in DevOps and SRE."
        align="start"
      />

      <!-- Blog Grid -->
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>

    <!-- Contact Section -->
    <ContactCTA />
  </div>
</BaseLayout>
