---
import DefaultLayout from '../components/LayoutDefault.astro';
import PortfolioItem from '../components/PortfolioItem.astro';
import { writeToLocalDataFile, readLocalDataFile } from '../js/localDataManager';

// Fetch stars count from GitHub
async function getRepoStars(repo: string) {
  try {
    const res = await fetch("https://api.github.com/repos/" + repo);
    const data = await res.json();

    const stars = data.stargazers_count;
    const existingCache = await readLocalDataFile("openSourceProjectStars");

    if (stars) {
      // Cache stars count
      await writeToLocalDataFile("openSourceProjectStars", { ...existingCache, [repo]: stars });

      return stars;
    } else {
      // If we get rate limited or GitHub request fails, return the value from cache
      const cacheFile = await readLocalDataFile(`openSourceProjectStars`);
      const valueFromCache = cacheFile[repo];

      return valueFromCache || undefined;
    }
  } catch(error) {
    console.log(error);
  }
}

const starsCount = {
  binanceBot: await getRepoStars("eduardodimas/binance-dca-bot"),
  eduardodimas: await getRepoStars("eduardodimas/eduardodimas.com"),
  databaseBackupsS3: await getRepoStars("eduardodimas/database-backups-s3"),
}
---

<DefaultLayout documentTitle="Projects" documentDescription="Welcome to my portfolio, showcasing a selection of projects I've worked on.">
  <div class="container">
    <h1 class="main-heading text-swipe-animation">Projects</h1>
    <div class="intro">
      <p>Welcome to my portfolio, showcasing a selection of side projects I've worked on.</p>
    </div>

    <section class="projects">
      <PortfolioItem
        sourceCode="https://github.com/eddimas/database-backups-s3"
        githubStarsCount={starsCount.databaseBackupsS3}
        projectYear="2023"
        title="Database S3 backups"
        image="/images/databaseS3Backups-portfolio.png"
        tags={[
          "JavaScript"
        ]}>
        <p slot="subtitle">This script is designed to automate the process of backing up various databases to AWS S3. It supports PostgreSQL, MySQL, and MongoDB.</p>

        <div slot="description">
          <p>When initialized, the script reads database connection URIs from environment variables.</p>
          <p>Scheduled through a cron job, it dumps the databases, compresses the data, and transfers the files to a predetermined AWS S3 bucket.</p>
        </div>
      </PortfolioItem>

<style lang="scss">
  .projects {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    row-gap: 2rem;
  }

  @media screen and (max-width: 980px) {
    .projects {
      margin-top: 1.5rem;
    }
  }
</style>