---
import Nav from "../components/Nav.astro";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <!-- Main Head Component -->
    <MainHead />
  </head>
  <body>
    <header>
      <Nav />
    </header>

    <main class="stack backgrounds">
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>

    <script>
      window.addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <style>
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-svg-blend-mode: overlay;
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1.68;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.theme-dark {
        --bg-svg-blend-mode: darken;
        --bg-blend-mode: lighten;
      }

      @media (min-width: 50em) {
        :root {
          --bg-scale: 1;
        }
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
          url("/assets/backgrounds/noise.png") top center/220px repeat,
          var(--bg-image-footer) bottom center/var(--bg-gradient-size) no-repeat,
          var(--bg-image-main-curves) top center/var(--bg-gradient-size)
            no-repeat,
          var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat,
          var(--gray-999);
        background-blend-mode: overlay, var(--bg-blend-mode),
          var(--bg-svg-blend-mode), normal, normal;
      }

      @media (forced-colors: active) {
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
  </body>
</html>
